.med-sidebar{
	background-color: #AAAAAA;

}

.med-main{
	background-color: #888899;
}

.med-sidebar-title{
	background-color: #AAFFAA;
	text-align: center;
}

.med-solicitud{
	
	background-color: white;
	text-align: center;
	width:100%;
	padding:50px;
	border: 1px solid black;
	border-radius:10px;
	
}